<html>

<head>
<title>COVID-19 Vaccine Tracker</title>
</head>

<body>

<p>
Sources: 
<ul>
<li>https://github.com/COVID19StatePolicy/SocialDistancing</li>
<li>https://covid.cdc.gov/covid-data-tracker/#vaccinations</li>
</ul>
</p>


<!--begin.rcode fig.width=7, fig.height=6
#plot(cars)
end.rcode-->

<!--begin.rcode
library(tidyverse)
library(sds192)
library(sf)
library(dplyr)
library(macleish)
library(leaflet)
library(lwgeom)
library(htmltools)
library(htmlwidgets)
library(ggplot2)
library(RColorBrewer)
library(ggthemes)
library(plotly)

end.rcode-->

<!--begin.rcode
vaccinations <- read_csv("covid19_vaccinations_in_the_united_states.csv")
cases_deaths_bystate <- read.csv(
  "united_states_covid19_cases_and_deaths_by_state.csv")
vaccines_delivered <- read.csv("u.s._covid19_vaccine_delivered_by_vaccine_type.csv")
vaccines_administered <- read.csv("u.s._covid19_vaccine_administration_by_vaccine_type.csv")
fully_vaccinated <- read.csv("number_of_people_fully_vaccinated_in_the_u.s.in_the_u.s._by_covid19_vaccine_series_type.csv")
state_mandates <- read.csv ("USstatesCov19distancingpolicy.csv")
end.rcode-->

<!--begin.rcode
current_mandates <- state_mandates %>%
  filter(
    DateExpiry >= 20210326 & StateWide == 1 & Mandate ==1
  )%>%
  select(StatePostal,StateName, StatePolicy,PublicMaskLevel, DateEnacted, DateExpiry)

state_data <- current_mandates %>%
  left_join(cases_deaths_bystate, by = c("StateName" = "State.Territory"))

current_mandates <- state_mandates %>%
  filter(
    DateExpiry >= 20210326 & StateWide == 1 & Mandate ==1
  )%>%
  select(StatePostal,StateName, StatePolicy) %>%
  group_by(StatePostal, StateName) %>%
  summarize(
    all_policies = paste(StatePolicy, collapse = " | ")
    )

mask_levels <- state_mandates %>%
  select(StatePostal,StateName, PublicMaskLevel) %>%
  group_by(StatePostal,StateName) %>%
  summarize(
    mask = paste(PublicMaskLevel, collapse = " ")
  )

mandates_masks <- current_mandates %>%
  left_join(mask_levels, by = c("StatePostal"= "StatePostal", "StateName"="StateName"))

full_data <- mandates_masks %>%
  left_join(vaccinations, by = c("StateName" = "State/Territory/Federal Entity"))

end.rcode-->

<!--begin.rcode
first_plot <- ggplot(data = state_data, aes(x = DateEnacted, y = Death.Rate.per.100000 ))+ 
  geom_line()

plot(first_plot)
end.rcode-->




<!--begin.rcode

url <- "https://www2.census.gov/geo/tiger/GENZ2018/shp/cb_2018_us_state_500k.zip"
local_file <- basename(url)
download.file(url, destfile = local_file)
unzip(local_file, exdir = "states")

library(sf)
dsn <- path.expand("states")
dsn
list.files(dsn)

states_look <- read_sf(dsn)

#taxi_w_tip <- taxi_zone_look %>%
  #left_join(tip_by_borough, by=c("boro_name"="Borough"))

end.rcode-->


</body>
</html>
